.parent {
  position: relative;
}

.iconWrapper {
  position: absolute;
  top: 0.5625rem;
  right: 0.75rem;
  cursor: pointer;
  user-select: none;
}

.inputStyle {
  padding-right: 2rem !important;
}
